*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
}

/* ================= HEADER ================= */
.header {
  position: relative;
  height: 75vh;
  overflow: hidden;
}



/* ================= NAVBAR ================= */

.navbar {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}


.nav-brand {
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

/* NAV LINKS (DESKTOP) */
.nav-links {
  display: flex;
  gap: 14px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
}

/* ================= MENU BUTTON ================= */

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ================= VIDEO ================= */

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ================= OVERLAY ================= */

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 40px 20px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 600px;
}

/* ================= BUTTONS ================= */

.actions {
  display: flex;
  gap: 15px;
}

.actions a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  background: #ffffff;
  color: #000;
  font-weight: 600;
}

.btn-whatsapp {
  background: #25D366;
}

/* ================= FOOT LINE ================= */

.footer-line {
  margin-top: 20px;
  opacity: 0.9;
}

/* ================================================= */
/* ================= MOBILE VIEW =================== */
/* ================================================= */

@media (max-width: 900px) {

  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background: #111;
    padding: 20px 0;
    border-radius: 8px;

    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .nav-links.show {
    display: flex;
  }
}

@media (max-width: 600px) {

  .header {
    height: auto;
  }

  .overlay {
    min-height: 75vh;
    padding: 40px 15px;
  }

  .overlay h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  .overlay p {
    font-size: 1rem;
    padding: 0 10px;
  }

  .actions {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
